body {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(72, 5, 120, 0.7) 13%, rgba(22, 0, 130, 0.69) 83%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(72, 5, 120, 0.7) 13%, rgba(22, 0, 130, 0.69) 83%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(72, 5, 120, 0.7) 13%, rgba(22, 0, 130, 0.69) 83%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(72, 5, 120, 0.7) 13%, rgba(22, 0, 130, 0.69) 83%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(72, 5, 120, 0.7) 13%, rgba(22, 0, 130, 0.69) 83%);

}